# Navigation
#auto_cd is enabled
alias ...='../..'
alias ....='../../..'

# Listing
alias ll='ls -Gla'

# git
alias giti='git init'
alias gs='git status'
alias branches='git branch -a'
alias gc='git commit'
alias ga='git add -A'
alias gap='git add -p'
alias gb='git branch'
alias gcb='git checkout -b'
alias gd='git --no-pager diff'
alias gr='git rebase'
alias gp='git pull --rebase'
alias oops='git commit --amend'
alias grh='git reset --hard origin/master'
alias gdc='git diff --check'
alias glog='git log --format='\''%Cgreen%h%Creset %C(magenta)%an%Creset %C(yellow)%d%Creset - %s - %C(cyan)%ar'\'' --graph'
